/* 4.2 Features
----------------------------------------------------------*/
.feature {
  margin-bottom: 30px;
  display: block;

  &.feature-1 {
    .feature-content {
      padding-left: 65px;
      padding-top: 1.5rem;
    }

    .icon {
      float: left;

      &.icon-sm + .feature-content { padding-left: 55px; }
      &.icon-lg + .feature-content { padding-left: 120px; }

      &.icon-circle {
        + .feature-content { padding-left: 95px; }
        &.icon-sm + .feature-content { padding-left: 64px; }
        &.icon-lg + .feature-content { padding-left: 140px; }
      }

    }
  }
}
