/* ---------------------------------------------------------------------------- */
/* --- 6. ELEMENTS
/* ----------------------------------------------------------------------------- */

@import '_elements/alerts';
@import '_elements/backgrounds';
@import '_elements/badges';
@import '_elements/buttons';
@import '_elements/cards';
@import '_elements/carousel';
@import '_elements/forms';
@import '_elements/icons';
@import '_elements/loader';
@import '_elements/navs';
@import '_elements/notification-bar';
@import '_elements/modals';
@import '_elements/other';
@import '_elements/pagination';
@import '_elements/panel-cart';
@import '_elements/typography';
@import '_elements/styleswitcher';
